html {
    &.light {
        --base-bg: hsl(0, 0%, 96%);
        /* sidebar */
        --sidebar-text-color: hsl(0, 0%, 40%);
        --sidebar-menu-bg: hsl(0, 0%, 100%);
        --sidebar-menu-bg-hover: hsl(0, 0%, 97%);
        --sidebar-sub-menu-bg: hsl(0, 0%, 96%);
        --sidebar-sub-menu-bg-hover: hsl(0, 0%, 92%);
        --sidebar-text-color-active: var(--el-color-primary);
        /* navbar */
        --navbar-bg: hsl(0, 0%, 100%);
        --navbar-icon-fill-color: hsl(0, 0%, 40%);
        /* tabs */
        --tabs-bg: hsl(0, 0%, 100%);
        --tabs-tag--bg: hsl(0, 0%, 98%);
        --tabs-tag--bg-active: hsl(0, 0%, 95%);
        --tabs-tag-text-color: hsl(0, 0%, 30%);
        --tabs-tag-text-color-active: var(--el-color-primary);
    }
    &.dark {
        --base-bg: hsl(0, 0%, 4%);
        /* sidebar */
        --sidebar-text-color: hsl(0, 0%, 83%);
        --sidebar-menu-bg: hsl(0, 0%, 10%);
        --sidebar-menu-bg-hover: hsl(0, 0%, 8%);
        --sidebar-sub-menu-bg: hsl(0, 0%, 6%);
        --sidebar-sub-menu-bg-hover: hsl(0, 0%, 4%);
        --sidebar-text-color-active: var(--el-color-primary);
        /* navbar */
        --navbar-bg: hsl(0, 0%, 8%);
        --navbar-icon-fill-color: hsl(0, 0%, 83%);
        /* tabs */
        --tabs-bg: hsl(0, 0%, 8%);
        --tabs-tag--bg: hsl(0, 0%, 12%);
        --tabs-tag--bg-active: hsl(0, 0%, 4%);
        --tabs-tag-text-color: hsl(0, 0%, 93%);
        --tabs-tag-text-color-active: var(--el-color-primary);
    }
}